<?xml version="1.0"?>
<robot  xmlns:xacro="https://www.ros.org/wiki/xacro" name="my_robot" >

    <gazebo reference="right_wheel_link">
        <mu1>100000000000000</mu1> 
        <mu2>100000000000000</mu2>
        <kp>1000000000000</kp>   
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdirl>1 0 0</fdirl>
    </gazebo>

    <gazebo reference="left_wheel_link">
        <mu1>100000000000000</mu1> 
        <mu2>100000000000000</mu2>
        <kp>1000000000000</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdirl>1 0 0</fdirl>
    </gazebo>

	
    <gazebo reference="castor_wheel_link">
        <mu1>0.1</mu1> 
        <mu2>0.1</mu2>
        <kp>1000000</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        
    </gazebo>    

    <gazebo>
        <xacro:if value="$(arg is_ignition)">
            <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find my_robot_controller)/config/my_robot_controller.yaml</parameters>
            </plugin>
        </xacro:if>

        <xacro:unless value="$(arg is_ignition)">
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find my_robot_controller)/config/my_robot_controller.yaml</parameters>
            </plugin>
        </xacro:unless>
    </gazebo>

</robot>
